@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

.laxit{
  box-sizing: border-box;
  font-size: 55.5%;
}

.prince{
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.aman{
  padding-top: 10rem;
}

.grid {
  display: grid;
  width: 30em;
  grid-gap: 5rem;
  grid-template-rows: repeat(auto-fit, minmax(50rem, 1fr));
  align-items: start;
}

.grid-item {
  background-color: #fff;
  border-radius: 02rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.3s;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.card-content {
  padding: 3rem;
}

.card-header {
  font-size: 3rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
} 

.card-btn {
  margin-top: 2.5rem;
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #3363ff;
  background-color: #d8e0fd;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.card-btn span {
  margin-left: 1rem;
  transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
  background-color: #c2cffc;
}

.card-btn:hover span,
.card-btn:active span {
  margin-left: 1.5rem;
}

.voted{
  font-size: 20px;
}

@media only screen and (max-width: 60em) {
  .prince{
    padding: 3rem;
  }

  .grid {
    grid-gap: 3rem;
  }
}
